## 병원 정보 확인

In [57]:
import pandas as pd
import numpy as np

In [58]:
df_hospital = pd.read_csv("institution_hospital_info.csv") # 병원정보서비스
df_hospital_rating = pd.read_csv("institution_hospital_rating_info.csv") #병원평가정보서비스
df_hospital_good = pd.read_csv("institution_good_hospital_info.csv")# 우수기관병원평가정보서비스
len(df_hospital), len(df_hospital_rating), len(df_hospital_good)

(77321, 35095, 14453)

In [59]:
df_hospital.head() # add

,_id,addr,clCd,clCdNm,estbDd,hospUrl,yadmNm,ykiho
0,65f109910f8f75fab7c7db55,"경기도 수원시 팔달구 중부대로 93, (지동)",1,상급종합,19670523,http://www.cmcvincent.or.kr/skip.html,가톨릭대학교 성빈센트병원,JDQ4MTYyMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...
1,65f109910f8f75fab7c7db56,"인천광역시 부평구 동수로 56, (부평동)",1,상급종합,19810806,http://www.cmcism.or.kr/,가톨릭대학교인천성모병원,JDQ4MTYyMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...
2,65f109910f8f75fab7c7db57,"강원특별자치도 강릉시 사천면 방동길 38, (사천면)",1,상급종합,19960730,http://www.gnah.co.kr,강릉아산병원,JDQ4MTYyMiM1MSMkMSMkNCMkODkkMzgxMzUxIzExIyQxIy...
3,65f109910f8f75fab7c7db58,"서울특별시 종로구 새문안로 29, (평동)",1,상급종합,19790324,http://www.kbsmc.co.kr,강북삼성병원,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...
4,65f109910f8f75fab7c7db59,"서울특별시 광진구 능동로 120-1, (화양동)",1,상급종합,19821116,http://www.kuh.ac.kr,건국대학교병원,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...

In [60]:
df_hospital_rating.head() #병원정보서비스와 겹치는 부분이 있어 사용하지 않아도 무관함

,_id,addr,yadmNm,ykiho
0,65f0f96ab2107bcc50fc5829,"경기도 안양시 동안구 평촌대로217번길 45, 205-207, 209-210호 (호...",희망가득의원,JDU4MTI3MSM1MSMkMiMkMCMkMDAkNDgxMzUxIzExIyQxIy...
1,65f0f96ab2107bcc50fc582a,"인천광역시 부평구 주부토로 112, 2,3층 (부평동)",삼성의원,JDU4MTI3MSM1MSMkMiMkMCMkMDAkMzgxOTYxIzIxIyQyIy...
2,65f0f96ab2107bcc50fc582b,"경상남도 창원시 의창구 동읍 의창대로915번길 2, 청담빌딩 2층",덕산의원,JDQ4MTYyMiM4MSMkMiMkNCMkMDAkNDgxOTYxIzExIyQxIy...
3,65f0f96ab2107bcc50fc582c,"서울특별시 중랑구 망우로 203, 201호 (중화동, 동양엔파트상가)",권이비인후과의원,JDQ4MTg4MSM1MSMkMiMkNCMkMDAkMzgxNzAyIzIxIyQxIy...
4,65f0f96ab2107bcc50fc582d,"서울특별시 성북구 아리랑로 89, 상가동 205,206,207호 (돈암동, 일신건영...",아리랑가정의원,JDQ4MTg4MSM1MSMkMiMkNCMkMDAkNDgxMTkxIzMxIyQxIy...

In [61]:
df_hospital_good.head() # ykiho를 사용해 asmGrd와 asmNm을 추가

,_id,asmGrd,asmGrdNm,asmNm,yadmNm,ykiho
0,65f10f59b5a3f17e1ea35b3c,3,3회연속,급성기 뇌졸중,학교법인)동의병원,JDQ4MTAxMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...
1,65f10f59b5a3f17e1ea35b3d,3,3회연속,만성폐쇄성폐질환,학교법인)동의병원,JDQ4MTAxMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...
2,65f10f59b5a3f17e1ea35b3e,3,3회연속,폐렴,학교법인)동의병원,JDQ4MTAxMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...
3,65f10f59b5a3f17e1ea35b3f,3,3회연속,급성기 뇌졸중,의료법인정화의료재단 봉생기념병원,JDQ4MTAxMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...
4,65f10f59b5a3f17e1ea35b40,3,3회연속,만성폐쇄성폐질환,의료법인정화의료재단 봉생기념병원,JDQ4MTAxMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...

In [62]:
df_hospital.loc[df_hospital['ykiho'].isin(df_hospital_rating['ykiho']), 'Certification'] = 'Y'
df_hospital['Certification'].fillna('N', inplace=True)
df_hospital['Certification'].value_counts()

/tmp/ipykernel_22/295537270.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_hospital['Certification'].fillna('N', inplace=True)

Certification
N    42226
Y    35095
Name: count, dtype: int64

In [72]:
df_hospital.loc[df_hospital['ykiho'].isin(df_hospital_good['ykiho']), ['asmGrd', 'asmGrdNm', 'asmNm']] = df_hospital_good[['asmGrd', 'asmGrdNm', 'asmNm']].astype(df_hospital[['asmGrd', 'asmGrdNm', 'asmNm']].dtypes)

In [97]:
df_hospital['asmGrd'].unique()

array([ 3.,  2.,  1., nan])

In [93]:
df_hospital_good.query('ykiho == "메디플러스"')

Empty DataFrame
Columns: [_id, asmGrd, asmGrdNm, asmNm, yadmNm, ykiho]
Index: []

In [74]:
df_hospital.isnull().sum()

_id                  0
addr                 0
clCd                 0
clCdNm               0
estbDd               0
hospUrl          69005
yadmNm               0
ykiho                0
Certification        0
asmGrd           74546
asmGrdNm         74546
asmNm            74546
dtype: int64

In [75]:
df_hospital['asmGrd'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 77321 entries, 0 to 77320
Series name: asmGrd
Non-Null Count  Dtype
--------------  -----
2775 non-null   float64
dtypes: float64(1)
memory usage: 604.2 KB